<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form class="search-form" id="search-form">
        <input type="text" class="input__search-form" name="searchQuery" autocomplete="off"
            placeholder="Search images..." />
        <button type="submit" class="btn-submit">Search</button>
    </form>

    <div class="gallery">
        <!-- Карточки изображений -->
    </div>

    <button type="button" class="loadmore is-hidden">Load more</button>

    <script src="./js/galleryIP.js" type="module"></script>
    <!-- <script src="./js/mainsearch.js" type="module"></script> -->

</body>

</html>